<div class="create-meal-container">
  <h2>Criar Refeição</h2>
  <form (ngSubmit)="createMeal()" #mealForm="ngForm">
    <div>
      <label for="day">Dia:</label>
      <select id="day" [(ngModel)]="meal.day" name="day" required #day="ngModel">
        <option value="" disabled selected>Selecione um dia</option>
        <option value="Segunda-feira">Segunda-feira</option>
        <option value="Terça-feira">Terça-feira</option>
        <option value="Quarta-feira">Quarta-feira</option>
        <option value="Quinta-feira">Quinta-feira</option>
        <option value="Sexta-feira">Sexta-feira</option>
        <option value="Sábado">Sábado</option>
        <option value="Domingo">Domingo</option>
      </select>
      <div *ngIf="day.invalid && day.touched" class="error-message">
        O campo "Dia" é obrigatório.
      </div>
    </div>

    <div>
      <label for="mealType">Tipo de Refeição:</label>
      <select id="mealType" [(ngModel)]="meal.mealType" name="mealType" required #mealType="ngModel">
        <option value="" disabled selected>Selecione o tipo de refeição</option>
        <option value="café da manhã">Café da Manhã</option>
        <option value="almoço">Almoço</option>
        <option value="jantar">Jantar</option>
        <option value="lanche">Lanche</option>
      </select>
      <div *ngIf="mealType.invalid && mealType.touched" class="error-message">
        O campo "Tipo de Refeição" é obrigatório.
      </div>
    </div>

    <div>
      <label for="recipes">Lista de Receitas/Alimentos:</label>
      <input id="recipes" [(ngModel)]="meal.recipes" name="recipes" required #recipes="ngModel">
      <div *ngIf="recipes.invalid && recipes.touched" class="error-message">
        O campo "Lista de Receitas/Alimentos" é obrigatório.
      </div>
    </div>

    <div>
      <label for="portions">Quantidade de Porções:</label>
      <input id="portions" type="number" [(ngModel)]="meal.portions" name="portions" required #portions="ngModel">
      <div *ngIf="portions.invalid && portions.touched" class="error-message">
        O campo "Quantidade de Porções" é obrigatório.
      </div>
    </div>

    <div>
      <label for="notes">Notas ou Observações:</label>
      <textarea id="notes" [(ngModel)]="meal.notes" name="notes" #notes="ngModel" maxlength="500"></textarea>
    </div>

    <button type="submit" [disabled]="mealForm.invalid">Criar</button>
    <button type="button" (click)="cancel()">Cancelar</button>
  </form>
</div>
